body {
    margin: 0;

    // old background-color
    background-color: #D5D5D5;

    // new background-color
    // background-color: #F3F3F3; 
}

// COLORS
$primary--color: #025159;
$secondary--color: #14213D;
$third--color: #D5D5D5;

$primary--background: #D5D5D5;
$secondary--background: #F3F3F3;

$default--background: #b5b5b5;

// LAYOUT
$box--shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// MEDIA QUERIES
$mobileScreen: 425px; 
$tabletScreen: 768px;