.dashboard__container {
    padding-top: 2rem;
    height: 500px;

    h1 {
        margin-bottom: 1.5rem;
    }

    .dashboard__content {
        width: 100%;
        height: fit-content;
        background-color: $secondary--background;
        padding: 1rem;
        border-radius: 6px;
        
        h4 {
            margin-top: 0rem;
            width: fit-content;
        }
    }
}