.page--nav {
    padding-top: 1rem;
    display: inline-flex;
}

.explore__container {
    height: auto;
    padding-bottom: 4rem;

    h1 {
        padding: 3rem 0 2rem 0;
    }

    .cardgroup--top, .cardgroup--middle {
        padding-bottom: 3rem;
    }

}