// POSTS
.posts__container {
    margin-top: 2rem;

    h1 {
        margin-bottom: 1.5rem;
        }

    .postList__card {
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 0.5rem;
        background-color: $secondary--background;

        @media (max-width: $tabletScreen) {
            grid-template-columns: 1fr;
        }
    }

    .postList--author {
        text-decoration: underline;
        color: black;
    }

    .postList--image {
        border-radius: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .postList--social p {
        display: inline-flex;
        margin-right: 10px;
        height: 0;
    }

    .viewPost__button {
        background-color: $secondary--color;
        width: fit-content;

        @media (max-width: $tabletScreen) {
            width: 100%;
        }

        &:hover {
            background-color: black;
            transition: 0.5s;
        }
    }

}
